<div class="container mt-5 col-md-8">
  <div class="row">
    <h2 class="head-style">MY SKILLS VALUES</h2>
  </div>
  <div class="row row1">
    <div class="col">
      <h3 class="progress-title m-b">TECHNICAL SKILLS</h3>
      <h3 class="progress-title">JAVASCRIPT - 79%</h3>
      <div class="progress yellow">
        <div class="progress-bar" style="width:79%; background:#f9d700;border: none"></div>
      </div>

      <h3 class="progress-title">ANGULAR-6 - 65%</h3>
      <div class="progress yellow">
        <div class="progress-bar" style="width:65%; background:#f9d700;border: none"></div>
      </div>

      <h3 class="progress-title">NODE - 70%</h3>
      <div class="progress yellow">
        <div class="progress-bar" style="width:70%; background:#f9d700;border: none"></div>
      </div>


      <h3 class="progress-title">MONGODB - 60%</h3>
      <div class="progress yellow">
        <div class="progress-bar" style="width:60%; background:#f9d700;border: none"></div>
      </div>
      
      <h3 class="progress-title">HTML5 / CSS - 60%</h3>
      <div class="progress yellow">
        <div class="progress-bar" style="width:60%; background:#f9d700;border: none"></div>
      </div>
     
      </div>
     
     


    <div class="col">
      <h3 class="progress-title m-b">KNOWLEDGE</h3>
      <div class="row">
        <div class="col-md-6">
          
          <p class=""><span class="arrow">➤</span>GIT</p>
          <p class=""><span class="arrow">➤</span>HEROKU</p>
          <p class=""><span class="arrow">➤</span>Google Cloud Platform</p>
          <p class=""><span class="arrow">➤</span>OS INSTALLATIONS</p>
          <p class=""><span class="arrow">➤</span>WORDPRESS</p>
          <p class=""><span class="arrow">➤</span>KALI LINUX</p>
          <p class=""><span class="arrow">➤</span>ARDUINO</p>

        </div>
        <!-- <div class="col-md-6">
          <h3 class="progress-title m-b">KNOWLEDGE</h3>
        </div> -->
      </div>
    </div>
  </div>
  <h3 class="progress-title mt-5">LANGUAGE SKILLS</h3>
    <div class="container m-b">
        
      <div class="row">
          <div class="col-md-3 col-sm-6">
              <div class="progress-don yellow">
                  <span class="progress-don-left">
                      <span class="progress-don-bar"></span>
                  </span>
                  <span class="progress-don-right">
                      <span class="progress-don-bar"></span>
                  </span>
                  <div class="progress-don-value">65%</div>
              </div>
          </div>
          <h3 class="progress-title mt-5">ENGLISH</h3>
   
          <div class="col-md-3 col-sm-6">
              <div class="progress-don yellow1">
                  <span class="progress-don-left">
                      <span class="progress-don-bar"></span>
                  </span>
                  <span class="progress-don-right">
                      <span class="progress-don-bar"></span>
                  </span>
                  <div class="progress-don-value">55%</div>
              </div>
          </div>
          <h3 class="progress-title mt-5">HINDI</h3>

          <div class="col-md-3 col-sm-6">
            <div class="progress-don yellow2">
                <span class="progress-don-left">
                    <span class="progress-don-bar"></span>
                </span>
                <span class="progress-don-right">
                    <span class="progress-don-bar"></span>
                </span>
                <div class="progress-don-value">90%</div>
            </div>
        </div>
        <h3 class="progress-title mt-5">KANNADA</h3>

      </div>
  </div>

  
</div>