<!-- <div class="container mt-5 col-md-8">
  <div class="row"> -->
    <h2  class="main-head h-align mt-5">EDUCATIONAL VALUE</h2>
    <section class="mr-t mr-b">
      
      <div class="container">

            <div class="timeline flex-container mt-15">
              <div class="timeline-item flex-items-default selected">
            </div>
            <div class="timeline-item flex-items-default selected dot1-margin">
            </div>
              <div class="timeline-item flex-items-default selected dot3-margin">
              </div>

              <div class="timeline-item flex-items-default d-selected">
                </div>
           <!--   <div class="timeline-item flex-items-default">
                <div class="timeline-content text-left">
                  <h2>Review</h2>
                  <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eveniet nulla amet, sapiente voluptatum praesentium.</p>
                  <div class="hexagon"></div>
                  <i class="material-icons">rate_review</i>
                </div>
              </div> -->
        
              <div class="dropdown animated bounceIn" style="left: -45px;">
                <div class="inner">
                    <div class="timeline-content text-left animated bounceIn p-4">
                        <p class="p-20">School</p>
                        <h2 class="head-style pl-2">Vishwadarshana yellapura</h2>
                      </div>
                  <div class="arrow-down"></div>
                </div>
              </div>

               <div class="dropdown animated bounceIn top2" style="left: 190px;">
                  <div class="inner">
                      <div class="timeline-content text-left animated bounceIn p-4">
                          <p class="p-20">PUC</p>
                          <h2 class="head-style pl5">SDM Ujire</h2>
                        </div>
                    <div class="arrow-up"></div>
                  </div>
                </div>

             <div class="dropdown animated bounceIn top3" style="left: 25.5em;">
                  <div class="inner">
                      <div class="timeline-content text-left animated bounceIn p-4">
                          <p class="p-20">Engineering</p>
                          <h2 class="head-style pl5">MIT Mysore</h2>
                        </div>
                    <div class="arrow-down"></div>
                  </div>
                </div>
            </div>
          </div>
    </section>
    <h2  class="main-head h-align mt-5">HOBBIES & INTEREST</h2>
    <!-- <div class="row"> -->
      <div class="container content">

        <div class="mr-5">
          <div class="s-card animated bounceIn hobbis">
            <i class="fa fa-music icon"></i>
          </div>
          <h6  class="title-small ml-5 mt-2">MUSIC</h6>
        </div>
        <div class="mr-5">
            <div class="s-card animated bounceIn hobbis">
              <i class="fa fa-book icon" aria-hidden="true"></i>  
            </div>
            <h6  class="title-small ml-5 mt-2">READING</h6>
        </div>
        <div class="mr-5">
            <div class="s-card animated bounceIn hobbis">
              <i class="fa fa-globe icon fa-spin" aria-hidden="true"></i>

            </div>
            <h6  class="title-small ml-4 mt-2">TRAVELLING</h6>
        </div>
        <div class="mr-5">
            <div class="s-card animated bounceIn hobbis">
            <i class="fa fa-cutlery icon" aria-hidden="true"></i>
            </div>
            <h6  class="title-small ml-5 mt-2">COOKING</h6>
        </div>
        <div class="mr-5">
          <div class="s-card animated bounceIn hobbis">
            <i class="fa fa-bicycle icon" aria-hidden="true"></i>
          </div>
          <h6  class="title-small ml-5 mt-2">CYCLING</h6>
        </div>
        <div class="mr-5">
            <div class="s-card animated bounceIn hobbis">
                <i class="fa fa-cog fa-spin icon" aria-hidden="true"></i>

              </div>
            <h6  class="title-small ml-5 mt-2">Learning ML</h6>
          </div>
      </div>
    <!-- </div> -->
        
  <!-- </div>
</div> -->