<!-- <app-header></app-header> -->
<div class="container mt-5 col-md-8">
        <div class="row">
            <div class="col image visible">
                <img src="../../../assets/images/profile.png" alt="">
            </div>
            <div  class="col p-t disc visible">
                
                <h1 class="font-weight-bold header-color">DEVELOPE<sup>+</sup> INTERACTIVE<sup>+</sup> ART<sup>+</sup> </h1>
                <p>Hello, I’m Vinayak Gaonkar. I have a year of experience in Web deveopment. I have worked on a variety of domains both Front end and Back end.</p>
                <button type="button" class="btn btn-secondary btn-lg" [routerLink]="['./', 'contact']">HIRE ME NOW</button>
                <button (click)="openResume()" type="button" class="btn btn-warning btn-lg">DOWNLOAD CV</button>
            </div>
        </div>
</div>
<!-- <div align='center'><a href='https://www.hit-counts.com/'><img src='http://www.hit-counts.com/counter.php?t=MTQ0MzkwOA==' border='0' alt='logo services'></a><BR><a href='https://www.glowgraphics.co.uk/'></a></div> -->

<!-- <app-footer></app-footer> -->