<div class="container height">
  <div class="row block">
    <div class="col">
      <h2  class="main-head h-align mt-5">GET IN TOUCH WITH ME</h2>
      <h3 class="progress-title m-b upper">contact address</h3>
      
      <p> <i class="fa fa-map-marker" aria-hidden="true"></i> Ittamadu, 3rd stage Banashankari, Bengaluru</p>
      <p><i class="fa fa-mobile f-sz" aria-hidden="true"></i>
        Phone: +91 8722682638, 8660914509
      </p>
      <p><i class="fa fa-envelope-o" aria-hidden="true"></i>
        Email: vinayakgaonkarg@gmail.com
      </p>
    </div>
    <!-- <div class="col mt-10">
        <h3 class="progress-title m-b upper">contact form</h3>
        <form id='myform' (submit) ='onSubmit($event)'>
            <div class="form-group">
              <input type="email" class="form-control" id="to_name" aria-describedby="emailHelp" placeholder="Enter email">
              <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="from_name" placeholder="Name">
            </div>

            <div class="form-group">
                <textarea type="text" class="form-control" id='message_html' placeholder="Type here..."></textarea>
              </div>

            <button type="submit" class="btn btn-primary" >SEND</button>
          </form>
    </div> -->
  </div>
  <!-- <div class="row">
      <div class="mapouter mt-5 mb-5"><div class="gmap_canvas"><iframe width="998" height="372" id="gmap_canvas" src="https://maps.google.com/maps?q=katriguppe%20cir&t=&z=15&ie=UTF8&iwloc=&output=embed" frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe><a href="https://www.emojilib.com">emojilib.com</a></div><style>.mapouter{position:relative;text-align:right;height:372px;width:998px;}.gmap_canvas {overflow:hidden;background:none!important;height:372px;width:998px;}</style></div>
  </div> -->
</div>
<div id="snackbar" class="show" *ngIf='showBar'>MESSAGE HAS BEEN SENT</div>
