<!-- Footer -->
<footer class="page-footer font-small bg-secondary darken-3 footer">

  <!-- Footer Elements -->
  <div class="container">

    <!-- Grid row-->
    <div class="row">

      <div class="col-md-4 pt-4">
        <h4 class="font-weight-bold">ADDRESS</h4>
				<p class="font-weight-bold">Ittamadu layout, Banashankari Stage 3<br>Bengaluru, Karnataka.</p>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 py-5 pt-4">
          <h4 class="font-weight-bold">CONNECTS</h4>
        <div class="mb-5 flex-center">

          <!-- Facebook -->
          <a class="fb-ic" href="https://www.facebook.com/vinayak.gaonkar.564" target="_blank">
            <img src="../../../assets/images/fb.png" class="w-10 icon">
          </a>
          <!-- Twitter -->
          <a class="tw-ic">
            <img src="../../../assets/images/github.png" class='w-10 ml-3 icon' alt="">
          </a>
          <!--Linkedin -->
          <a class="li-ic" href="https://www.linkedin.com/in/vinayak-gaonkar-9725a214a" target="_blank">
         <img src="../../../assets/images/linkedin.png" class="w-10 ml-3 icon" alt="">
          </a>
        </div>
      </div>
      <!-- Grid column -->
      <div class="col-md-4 pt-4">
        <h4 class="font-weight-bold">CONTACTS</h4>
				<p class="font-weight-bold">Tel: +91 8722682638<br>Mail: vinayakgaonkarg@gmail.com</p>
      </div>
    </div>
    <!-- Grid row-->

  </div>
  <!-- Footer Elements -->

  <!-- Copyright -->
  <!-- <div class="footer-copyright text-center py-3">© 2018 Copyright:
    <a href="https://mdbootstrap.com/education/bootstrap/"> vinayakgaonkar.com</a>
  </div> -->
  <!-- Copyright -->

</footer>
<!-- Footer -->