<body>
    <h2  class="main-head h-align mt-5">EXPERIENCE</h2>
    <div class="timeline">
      <ul>
        <li class="first">
          <div class="content">
            <h3 class="upper">internship in mobinius</h3>
            <p>Worked as an intern for a month.Learnt about developing web apps. Learnt basic javascript, HTML5/CSS, Basics of creating API's.
              Created online Bus Booking system. used PHP as backend 
            </p>
          </div>
          <div class="time">
            <h4>January 2018</h4>
          </div>
        </li>
        
        <li class="second">
          <div class="content">
            <h3 class="upper">working in mobinius</h3>
            <p>Joined as a fresher, trained on MEAN stack web development for 6 months.
              currently working on CAWI.AI which provides chatbot service. </p>
          </div>
          <div class="time">
            <h4>July 2018</h4>
          </div>
        </li>
        <li class="third">
          </li>
        <div style="clear:both;"></div>
      </ul>
    </div>
  </body>